body {
    background-color:#4a4a4a;
}
/*Hovde navbaren der ligger i en hetter */
nav{
    width:98%;
    height:5%;
    background-color:#181818;
    color:#4cff00;
    font-family:;
    font-size:105%;
    position:fixed;
    float:left;
    border-radius:5px;
    margin: 0 auto ; 
}
ul{
    margin: 0 auto;
}
/*Menupunkterne*/
.nav{
    background-color:#181818;
    color:#4cff00;
    font-family:;
    font-size:140%;
    float:left;
    margin-left: 3%;
    margin-right: 2%;
}
#contentbox{
   width:85%;
   margin: 0 auto ;
   display:block;
   padding-top:3%;

}

h1{
    color:#4cff00;
    font-family:;
    float:left;
    width:100%;

}
.gamers-gamsbox{
    width:8%;
    float:left;
    margin:5% 1% 0 1%;
    border-radius:5px;


}
img{
    width:100%;
    border-radius:5px;
    box-shadow: 6px 6px 6px #646464;
    float:left;

}

#sign-up-box{
   width:25%;
   margin: 0 auto ;
   display:block;
   padding-top:3%;
}
h2{
    background-color:#;
    color:#;
    font-family:;
    float:left;
    width:100%;
}
h3{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h4{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h5{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
/*Dette er hovde texten i fotter*/
h6{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
p{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
.popup{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;
}
			.popupBoxWrapper{
				width: 70%; margin: 10% auto; text-align: left; 
			}
			.popupBoxContent{
				background-color: #4a4a4a; 
                border-radius: 20px;
			}

#kryds-bar{
    width:100%;
    margin-top:10px;

}
#kryds{
    width:3%;
    height:3%;
    float:right;
    margin-right:10px;
    margin-top:10px;
    
}
.main {
	width: 80%;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
}
