body {
}
/*Hovde navbaren der ligger i en hetter */
nav{
    width:98%;
    height:5%;
    background-color:#111010;
    color:#4cff00;
    font-family:;
    font-size:105%;
    position:fixed;
    float:left;
    border-radius:5px;
    margin: 0 auto ;
}
/*Menupunkterne*/
.nav{
    background-color:#111010;
    color:#4cff00;
    font-family:;
    font-size:150%;
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}
/*Der en sign up knap nomal*/
#sign-up{
    background-color:#4cff00;
    color:#111010;
    font-family:;
    font-size:150%;
    float:left;
    border-radius:5px;
    margin-left: 5%;
    margin-right: 5%;

}
/*Der en sign up knap hover*/
#sign-up:hover{
    background-color:#000000;
    color:#4cff00;
    font-family:;
    font-size:150%;
    float:left;
    border-radius:5px;
    margin-left: 5%;
    margin-right: 5%;
}

#Content2{

}

h1{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}

h2{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h3{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h4{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h5{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
/*Dette er hovde texten i fotter*/
h6{
    margin-top:1%;
    background-color:#111010;
    color:#4cff00;
    font-family:;
    font-size:130%;
    float:left;
}
p{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}

fotter{
    width:98%;
    height:5%;
    background-color:#111010;
    color:#4cff00;
    font-family:;
    float:left;
    border-radius:5px;
    bottom:1%;
    position:absolute;
    margin: 0 auto ;
}