body {
    background-color:#4a4a4a;
}
/*Hovde navbaren der ligger i en hetter */
nav{
    width:98%;
    height:5%;
    background-color:#181818;
    color:#4cff00;
    font-family:;
    font-size:105%;
    position:fixed;
    float:left;
    border-radius:5px;
    margin: 0 auto ; 
}
/*Menupunkterne*/
.nav{
    background-color:#181818;
    color:#4cff00;
    font-family:;
    font-size:150%;
    float:left;
    margin-left: 5%;
    margin-right: 5%;
}
/*Der en sign up knap nomal*/
#sign-up{
    background-color:#4cff00;
    color:#181818;
    font-family:;
    font-size:150%;
    float:left;
    border-radius:5px;
    margin-left: 5%;
    margin-right: 5%;

}
/*Der en sign up knap hover*/
#sign-up:hover{
    background-color:#181818;
    color:#4cff00;
    font-family:;
    font-size:150%;
    float:left;
    border-radius:5px;
    margin-left: 5%;
    margin-right: 5%;
}
#contentbox{
   width:85%;
   margin: 0 auto ;
   display:block;
   padding-top:3%;

}

h1{
    color:#4cff00;
    font-family:;
    float:left;
    width:100%;

}
.gamers-gamsbox{
    width:12%;
    float:left;
    margin:5% 3% 0 3%;
    border-radius:5px;


}
img{
    width:100%;
    border-radius:5px;
    box-shadow: 6px 6px 6px #646464;
    float:left;

}
#sign-up-box{
   width:15%;
   margin: 0 auto ;
   display:block;
   padding-top:3%;
}
h2{
    background-color:#;
    color:#;
    font-family:;
    float:left;
    width:100%;
}
h3{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h4{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
h5{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
/*Dette er hovde texten i fotter*/
h6{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
p{
    background-color:#;
    color:#;
    font-family:;
    float:left;
}
